@import "tailwindcss";

.header-light,
.header-dark {
    background-size: cover;
    background-position: center;
}

.header-light {
    background-image: url("./assets/banner-light.svg");
}

.header-dark {
    background-image: url("./assets/banner-dark.svg");
}
